<section class="text-gray-600 body-font py-3">
  <div class="container mx-auto flex justify-center items-center mb-8">
    <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col w-md mt-10 md:mt-0">
      <div class="text-red-900 text-md bg-red-100 mb-2">
        <%= render "users/shared/error_messages", resource: resource %>
      </div>

      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">User Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="relative mb-4">
        <%= f.label :email, class: "leading-7 text-sm text-gray-600" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %><br />
      </div>
      <div class="relative mb-4">
        <%= f.label :password, class: "leading-7 text-sm text-gray-600"  %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %>
      </div>
      <% if devise_mapping.rememberable? %>
      <div class="relative mb-4">
        <%= f.check_box :remember_me, class: "leading-7 text-sm text-gray-600" %>
        <%= f.label :remember_me, autocomplete: "new-password", class: "w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %><br />
      <% end %>
      </div>
      <div class="relative mb-4">
        <%= f.submit "Log in", class: "text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" %>
        <% end %>
        <div class="mt-2">登録がお済でない方</div>
        <p><%= link_to "こちら", new_user_registration_path, class: "text-blue-900 font-bold" %> からログインしてください。</p>
      </div>

    </div>
  </div>
</section>