<div class="py-24" style="background-color: #dcdcdc;">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <% if params[:q] %>
      <h2 class="title text-2xl lg:text-3xl font-bold text-center mb-8 md:mb-12"><span class="text-4xl"><%= params[:q] %></span>のトレーナー</h2>
    <% end %>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-6">
      <% @maps.each do |m| %>
        <div class="image group h-96 flex items-end bg-gray-100 rounded-lg overflow-hidden shadow-lg relative p-4">
          <% if m.trainer.image.attached? %>
            <%= link_to trainer_path(m.trainer.id) do %>
            <%= image_tag m.trainer.image, class: "w-full h-full object-center object-contain absolute inset-0 transform hover:scale-110 transition duration-200 rounded-lg object-fit object-cover shadow-2xl" %> <br>
          <% end %>
          <% else %>
            <%= image_tag ("noimage.jpg"), class: "rounded-md sm:h-auto sm:w-auto" %>
          <% end %>
          <div class="w-full flex flex-col bg-white text-center rounded-lg relative p-4">
          <%= m.trainer.name %>
            <button class="btn btn-primary modal-open mt-2" id="modal-open-<%= m.id %>">
              料金
            </button>
            <div class="modal-bg" id="modal-bg-<%= m.id %>">
            </div>
            <% if trainer_signed_in? && m.trainer.id == current_trainer.id %>
              <%= link_to "削除", map_path(m.id), method: :delete, class: "btn btn-warning mt-2" %>
            <% end %>
          </div>
            <div class="modal-container" id="modal-conainer-<%= m.id %>">
              <div class=""><%= m.body %></div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>

  <% @maps.each do |m| %>

  document.getElementById('modal-open-<%= m.id %>').addEventListener('click', () => {
    document.getElementById('modal-bg-<%= m.id %>').classList.add('active');
    document.getElementById('modal-conainer-<%= m.id %>').classList.add('active');
  });

  document.getElementById('modal-bg-<%= m.id %>').addEventListener('click', () => {
    document.getElementById('modal-bg-<%= m.id %>').classList.remove('active');
    document.getElementById('modal-conainer-<%= m.id %>').classList.remove('active');
  });

  <% end %>
</script>

<script src="https://unpkg.com/scrollreveal"></script>

<script>
  ScrollReveal({ reset: true, distance: "60px", duration: 1000, delay: 100 });
  ScrollReveal().reveal('.image', { delay: 100, origin: "left" });
  ScrollReveal().reveal('.title', { delay: 100, origin: "bottom" });
</script>