<div class="text-3xl font-bold text-center">Trainers</div>
<div class="py-10 px-10">
  <% @maps.each do |t| %>
    <p>
      <% if t.trainer.image.attached? %>
      <%= link_to trainer_path(t.trainer.id) do %>
      <%= image_tag t.trainer.image, size:'50x50', class: "rounded-full" %>
      <% end %>
      <% else %>
      <%= image_tag ("noimage.jpg"), size: '50x50' %>
      <% end %>
    </p>
    <p>Gym : <%= t.address %></p>
    <!--<p>Trainer : <%#= link_to t.trainer.name, trainer_path(current_trainer) %> </p>-->
    <p>Price : <%= t.body %> </p>
    <p class="btn btn-primary"> <%= t.tag_list %></p>
    <%# if @trainer ==  current_trainer %>
    <p><%= link_to "Delete", map_path(t.id), method: :delete %></p>
    <%# end %>
    <hr>
  <% end %>
     <%#= render "maps/btn", map: @map %>
</div>
