<div class="grid grid-cols-1">
  <!--<div>-->
  <div class="">
    <div class="grid col-span-2">
      <% @trainers.each do |trainer| %>
      <% if trainer.image.attached? %>
        <%= link_to trainer_path(trainer.id) do %>
        <%= image_tag trainer.image, size:'150x150', class: "rounded-full overflow-hidden" %>
      <% end %>
      <% else %>
        <%= link_to trainer_path(trainer.id) do %>
      <%= image_tag ("noimage.jpg"), size: '150x150', class: "rounded-full overflow-hidden" %>
      <% end %>
      <% end %>
        <%= trainer.name %>
      <% end %>
    </div>
  </div>
  <!--</div>-->
</div>
