<div class="bg-gray-100 m-6">
  <% @trainers.each do |trainer| %>
  <div class="flex justify-center overflow-hidden border-b border-gray-300 w-full mb-6 mt-6 p-6">
      <% if trainer.image.attached? %>
        <%= link_to trainer_path(trainer.id) do %>
        <%= image_tag trainer.image, size:'100x100', class: "rounded-full overflow-hidden mx-auto mt-8" %>
        <% end %>
      <% else %>
        <%= link_to trainer_path(trainer.id) do %>
          <%= image_tag ("noimage.jpg"), size: '100x100', class: "rounded-full overflow-hidden mx-auto mt-8" %>
        <% end %>
      <% end %>
        <div class="text-center md:text-left">
          <h2 class="text-lg"><%= trainer.name %></h2>
        </div>
    </div>
    <% end %>
  </div>

