<div class="bg-gray-100 py-4 px-4 my-4 mx-4">
  <div class="flex justify-center">
  <% if @user.image.attached? %>
    <%= image_tag @user.image, size:'200x200', class: "rounded-full mt-2" %>
  <% else %>
    <%= image_tag ("noimage.jpg"), size: '200x200', class: "rounded-full mt-2" %>
  <% end %>
</div>
<div class="flex justify-center py-2 gap-4">
  <div class="">
    <%= @user.name %><br>
    <%= @user.email %>
  </div>
  <button class="btn btn-accent">
    <%= link_to 'Edit', edit_user_path(@user) %>
  </button>
</div>
</div>


