<% chats.each do |chat| %>
  <% unless chat.is_trainer%>
    <div class="mycomment flex justify-end mt-12">
      <p><%=chat.message%></p>
      <% if chat.user.image.attached? %>
      　<%= image_tag chat.user.image, class: "h-12 w-12 rounded-full mt-2 shadow-xl object-fit object-cover" %>
      <% else %>
          <%= image_tag ("noimage.jpg"), class: "h-12 w-12 rounded-full mt-2 shadow-xl object-fit object-cover" %>
      <% end %>
    </div>
  <%= chat.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
  <% else %>
    <div class="fukidasi mt-12">
      <div class="faceicon">
      <% if chat.trainer.is_trainer_deleted == true %>
        <%= image_tag ("noimage.jpg"), class: "h-12 w-12 rounded-full mt-2 shadow-xl object-fit object-cover" %>
      <P>メンバーがいません</P>
      <% elsif chat.trainer.image.attached? %>
        <%= link_to trainer_path(chat.trainer.id) do %>
          <%= image_tag chat.trainer.image, class: "h-12 w-12 rounded-full mt-2 shadow-xl object-fit object-cover"%>
        <% end %>
      <% else %>
        <%= link_to trainer_path(chat.trainer.id) do %>
          <%= image_tag ("noimage.jpg"), class: "h-12 w-12 rounded-full mt-2 shadow-xl object-fit object-cover" %>
        <% end %>
      <% end %>
      </div>
      <div class="chatting">
        <div class="says">
          <p><%=chat.message%></p>
        </div>
      </div>
      <div class="flex justify-start">
        <%= chat.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
      </div>
    </div>
  <% end %>
<% end %>
<div class="mt-24 form">
  <%= form_with model: chat do |f| %>
  <%= f.text_field :message, class: "w-64" %>
  <%= f.hidden_field :room_id %>
  <%= f.hidden_field :trainer_id %>
  <%= f.submit "送信", class: "btn btn-info btn-xs" %>
 <% end %>
</div>