<div class="bg-gray-100 m-6">
  <% @rooms.each do |room| %>
  <div class="flex justify-center overflow-hidden border-b border-gray-300 w-full mb-6 mt-6 p-6">
     <% if room.trainer.image.attached? %>
     <%= link_to chat_path(room.id) do %>
     <%= image_tag room.trainer.image, size:'100x100', class: "rounded-full shadow-2xl" %>
     <% end %>
     <% else %>
     <%= link_to chat_path(room.id) do %>
     <%= image_tag ("noimage.jpg"), size: '100x100' %>
     <% end %>
     <% end %>
     <%= room.trainer.name %>
   </div>
   <% end %>
</div>


