<div class="py-24" style="height: 1380px; background-color: #dcdcdc;">
  <div class="grid grid-cols-1 gap-x-4 lg:gap-x-8 gap-y-6 sm:gap-y-8 lg:gap-y-12 p-8">
    <div class="flex flex-col sm:flex-row items-center gap-2 md:gap-4">
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 lg:gap-20 mx-auto">
        <% @rooms.each do |room| %>
        <div class="overflow-hidden flex lg:block md:block content">
          <% if room.trainer.is_trainer_deleted == true %>
        　　<%= image_tag ("noimage.jpg"), class: "rounded-full h-24 w-24 md:h-auto md:w-auto lg:h-auto lg:w-auto object-fit object-cover shadow-xl" %>
      　　　<P>メンバーがいません</P>
          <% elsif room.trainer.image.attached? %>
            <%= link_to chat_path(room.trainer.id) do %>
            <%= image_tag room.trainer.image, class: "rounded-full h-24 w-24 md:h-auto md:w-auto lg:h-auto lg:w-auto object-fit object-cover shadow-xl" %> <br>
            <% end %>
          <% else %>
            <%= image_tag ("noimage.jpg"), class: "rounded-full h-24 w-24 md:h-auto md:w-auto lg:h-auto lg:w-auto object-fit object-cover shadow-xl" %>
          <% end %>
            <%= room.trainer.name %><br>
            <!--//&を書くと配列がなくても表示できる-->
            最終メッセージ　<%= Chat.where(room_id: @rooms.find_by(trainer_id: room.trainer.id)).order("id DESC").limit(1)[0]&.message %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-center text-2xl py-3">
    <%= paginate @rooms %>
  </div>
</div>

<script src="https://unpkg.com/scrollreveal"></script>

<script>
  ScrollReveal({ reset: true, distance: "60px", duration: 1000, delay: 100 });
  ScrollReveal().reveal('.content', { delay: 100, origin: "left" });
</script>



