<div id="chats" class="h-screen w-screen">
<div class="text-center"><%="#{@chat.trainer.name}トレーナーとのチャット"%></div>
<% @chats.each do |chat| %>
  <% unless chat.is_trainer %>
    <div class="mycomment">
      <p><%=chat.message%></p>
    </div>
  <% else %>
    <div class="fukidasi">
      <div class="faceicon">
        <%= image_tag chat.trainer.image %>
      </div>
      <div class="chatting">
        <div class="says">
          <p><%=chat.message%></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<div class=" text-center">
  <%= form_with model: @chat do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
  <%= f.hidden_field :trainer_id %>
  <%= f.submit "送信", class: "btn btn-info btn-xs" %>
 <% end %>
</div>
</div>
