<div class="sec-01 relative">
  <%= image_tag 'about02.jpg', class: "absolute object-fit object-cover mt-16 w-full h-full" %>
  <div class="relative py-96 ">
    <svg class="intro w-96 md:w-full h-screen" viewbox="0 0 200 86">
      <text text-anchor="start" x="10" y="30" class="text text-stroke" clip-path="url(#text1)">Let's</text>
      <text text-anchor="start" x="10" y="50" class="text text-stroke" clip-path="url(#text2)">Start</text>
      <text text-anchor="start" x="10" y="70" class="text text-stroke" clip-path="url(#text3)">Training</text>

      <text text-anchor="start" x="10" y="30" class="text text-stroke text-stroke-2 py-24" clip-path="url(#text1)">Let's</text>
      <text text-anchor="start" x="10" y="50" class="text text-stroke text-stroke-2" clip-path="url(#text2)">Start</text>
      <text text-anchor="start" x="10" y="70" class="text text-stroke text-stroke-2" clip-path="url(#text3)">Training</text>

      <defs>
        <clipPath id="text1">
          <text  text-anchor="start" x="10" y="30" class="text">Let's</text>
        </clipPath>
        <clipPath id="text2">
          <text text-anchor="start" x="10" y="50" class="text">Start</text>
        </clipPath>
        <clipPath id="text3">
          <text text-anchor="start" x="10" y="70" class="text">Training</text>
        </clipPath>
      </defs>
    </svg>
  </div>
</div>

<div class="pt-24 lg:pt-80" style="background: rgb(171,131,217);
background: radial-gradient(circle, rgba(171,131,217,1) 0%, rgba(48,53,156,1) 100%);">

<div class="sec-02 text-white flex justify-center items-center lg:pb-40">
  <div class="container flex justify-center items-center flex-col">
    <div class="title pb-24 text-center text-6xl font-bold mt-12 font-mono font-sans">
      About for TRENTAL
    </div>
    <div class="content flex justify-center items-center">
      <div class="image-1">
        <%= image_tag 'devise-bg.jpg', class: "lg:w-auto lg:h-auto w-full h-full rounded-lg overflow-hidden object-fit object-cover transform translate-x-11 shadow-2xl" %>
      </div>
      <div class="text-box-1 rounded-lg p-4 shadow-2xl" style="background: rgba(255, 255, 255, 0.1); transform: translate(-50px, 50px); backdrop-filter: blur(20px);">
        <div class="sub-title lg:text-6xl text-lg font-bold mb-4">Find a trainer　　　　</div>
        <p class="lg:text-md text-sm">
          性別、活動エリア、指導歴などの条件から気に入ったトレーナーを探しましょう！
        </p>
      </div>
    </div>
  </div>
</div>

<div class="sec-03 text-white flex justify-center items-center py-48">
  <div class="container flex justify-center items-center flex-col">
    <div class="content flex justify-center items-center">
      <div class="text-box-2 rounded-lg p-4 shadow-2xl z-10" style="background: rgba(255, 255, 255, 0.1); transform: translate(50px, 50px); backdrop-filter: blur(20px);">
        <div class="sub-title lg:text-6xl text-lg font-bold mb-4">Inexpensive training　　　　</div>
        <p class="lg:text-md text-sm">
          登録しているトレーナーは全て個人での活動なので一般的なパーソナルジムに通うより安く始められます
        </p>
      </div>
      <div class="image-2" style="transform: translate(-50px);">
        <%= image_tag 'top-img02.jpg', class: "lg:w-auto lg:h-auto rounded-lg overflow-hidden object-fit object-cover shadow-2xl" %>
      </div>
    </div>
  </div>
</div>

<div class="sec-04 text-white flex justify-center items-center lg:py-48 sm:pb-48">
  <div class="container flex justify-center items-center flex-col">
    <div class="content flex justify-center items-center">
      <div class="image-3">
        <%= image_tag 'top-img03.jpg', class: "lg:w-auto lg:h-auto w-full h-full rounded-lg overflow-hidden object-fit object-cover transform translate-x-11 shadow-2xl" %>
      </div>
      <div class="text-box-3 rounded-lg p-4 shadow-2xl" style="background: rgba(255, 255, 255, 0.1); transform: translate(-50px, 50px); backdrop-filter: blur(20px);">
        <div class="sub-title lg:text-6xl text-lg font-bold mb-4">Acting as a trainer　　　　</div>
        <p class="lg:text-md text-sm">
          登録料は無料で個人でパーソナルトレーナーとして活動できます！
        </p>
      </div>
    </div>
  </div>
</div>

<div class="sec-05 text-white flex justify-center items-center pt-48 pb-24">
  <div class="container flex justify-center items-center flex-col">
    <div class="title mb-24 text-6xl font-mono font-sans">Information</div>
      <div class="content flex justify-center items-center">
        <div class="media-info lg:text-2xl text-md lg:pr-12 pr-2 italic" style="list-style: none;">
          <li>
            <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
          </li>
          <li class="lg:pl-16 pl-6">
            <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
          </li>
          <li class="lg:pl-32 pl-12">
            <a href="#" class="flex"><i class="fab fa-twitter my-auto mr-1"></i> Twitter</a>
          </li>
          <li class="lg:pl-16 pl-6">
            <a href="#"><i class="fab fa-youtube"></i> Youtube</a>
          </li>
          <li>
            <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
          </li>
        </div>
        <div class="image-4">
          <%= image_tag 'top-img04.jpg', class: "w-96 h-96 lg:w-auto lg:h-auto rounded-lg overflow-hidden object-fit object-cover shadow-2xl" %>
        </div>
      </div>
  </div>
</div>

<div class="grid grid-cols-2 pb-32">
            <div class="mx-auto button-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 animate-bounce bg-gray-300 rounded-full text-purple-900" style="margin:0 auto;" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <a href="/users/sign_up" class="px-5 py-2.5 relative rounded group font-medium text-white font-medium inline-block">
              <span class="absolute top-0 left-0 w-full h-full rounded opacity-50 filter blur-sm bg-gradient-to-br from-purple-600 to-blue-500"></span>
              <span class="h-full w-full inset-0 absolute mt-0.5 ml-0.5 bg-gradient-to-br filter group-active:opacity-0 rounded opacity-50 from-purple-600 to-blue-500"></span>
              <span class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm from-purple-600 to-blue-500"></span>
              <span class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded bg-gradient-to-br to-purple-600 from-blue-500"></span>
              <span class="relative">User Sign Up</span>
            </a>
            </div>

            <div class="mx-auto button-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 animate-bounce bg-gray-300 rounded-full text-purple-900" style="margin:0 auto;" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <a href="/trainers/sign_up" class="px-5 py-2.5 relative rounded group font-medium text-white font-medium inline-block">
              <span class="absolute top-0 left-0 w-full h-full rounded opacity-50 filter blur-sm bg-gradient-to-br from-purple-600 to-blue-500"></span>
              <span class="h-full w-full inset-0 absolute mt-0.5 ml-0.5 bg-gradient-to-br filter group-active:opacity-0 rounded opacity-50 from-purple-600 to-blue-500"></span>
              <span class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm from-purple-600 to-blue-500"></span>
              <span class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded bg-gradient-to-br to-purple-600 from-blue-500"></span>
              <span class="relative">Trainer Sign Up</span>
            </a>
            </div>
          </div>
</div>

<script src="https://unpkg.com/scrollreveal"></script>

<script>
  ScrollReveal({ reset: true, distance: "60px", duration: 1000, delay: 100 });
  ScrollReveal().reveal('.title', { delay: 200, origin: "left" });
  ScrollReveal().reveal('.image-1', { delay: 400, origin: "bottom" });
  ScrollReveal().reveal('.image-2', { delay: 400, origin: "right" });
  ScrollReveal().reveal('.image-3', { delay: 400, origin: "top" });
  ScrollReveal().reveal('.image-4', { delay: 400, origin: "bottom" });
  ScrollReveal().reveal('.text-box-1', { delay: 600, origin: "right" });
  ScrollReveal().reveal('.text-box-2', { delay: 600, origin: "left" });
  ScrollReveal().reveal('.text-box-3', { delay: 600, origin: "right" });
  ScrollReveal().reveal('.media-info li', { delay: 600, origin: "left", interval: 200 });
  ScrollReveal().reveal('.button-1', { delay: 600, origin: "bottom" });
  ScrollReveal().reveal('.button-2', { delay: 600, origin: "bottom" });
</script>