<div class="sliderwide">
  <div class="slider">
    <div><%= image_tag 'shutterstock_1660419805.jpg' %></div>
    <div><%= image_tag 'shutterstock_586825982.jpg'%></div>
    <div><%= image_tag 'shutterstock_723086014.jpg'%></div>
  </div>
</div>

<div class="grid grid-cols-1">
  <section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">近所にジムがなくてお困りの方</h2>
        <p class="leading-relaxed text-base">自分の通っている24時間ジムや近所のレンタルジムで気軽にレンタル可能です</p>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">好みのトレーナーに教わりたい方</h2>
        <p class="leading-relaxed text-base">性別やトレーニングしたい部位など好みの条件からトレーナーのレンタルが可能です</p>
      </div>
      <div class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
       <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
         <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
       </svg>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
      <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">パーソナルを受けてみたいけど値段が高くて躊躇している方</h2>
        <p class="leading-relaxed text-base">個人のトレーナーが在籍しているので低価格でトレーニングを受けられます</p>
      </div>
    </div>
    <button class="flex mx-auto mt-20 btn btn-active btn-primary">
      <%= link_to "検索してみる", trainers_path %>
    </button>
  </div>
</section>

<div class="py-10 grid grid-cols-1">
  <div class="text-center mb-6 text-2xl font-bold">最近登録したトレーナー</div>
<div class="grid grid-cols-2 lg:grid-cols-4 mx-auto gap-6">
  <% @trainer.each do |trainer| %>
<div>
  <% if trainer.image.attached? %>
    <%= link_to trainer_path(trainer.id) do %>
    <%= image_tag trainer.image, size:'150x150', class: "rounded-full overflow-hidden shadow-xl" %>
  <% end %>
  <% else %>
    <%= link_to trainer_path(trainer.id) do %>
    <%= image_tag ("noimage.jpg"), size: '100x100', class: "rounded-full overflow-hidden shadow-xl" %>
    <% end %>
  <% end %>
    <%= trainer.name %>
</div>
<% end %>
</div>
</div>
</div>



