<div class="grid grid-cols-1 card h-auto w-full my-6 mx-auto">
  <% @photos. each do |photos| %>
    <div class="text-center">
      <div class="flex justify-center mb-1">
      <% if photos.trainer.image.attached? %>
        <%= link_to trainer_path(photos.trainer.id) do %>
        <%= image_tag photos.trainer.image, class: "rounded-full w-12 h-12" %>
      <% end %>
      <% else %>
        <%= image_tag ("noimage.jpg"), clas: "rounded-full w-12 h-12" %>
      <% end %>
        <%= photos.trainer.name%>
      </div>
      <%= time_ago_in_words(photos.created_at) + "前に投稿されました" %>
      </div>
      <figure><%= image_tag photos.image, class: "rounded-md h-auto w-auto p-2" %></figure>
      <div class="card-body text-center">
        <p><%= photos.caption %></p>
        <% if trainer_signed_in? %>
        <p><%= link_to "Edit", edit_photo_path(photos.id) %></p>
        <% end %>
        <% if user_signed_in? %>
      </div>
      <% end %>
      </div>
  <% end %>
</div>
