<div cllass="grid grid-cols-2">
  <div></div>
  <div class="bg-purple-200 flex justify-center">
  <%= form_with model: @post, local: true do |form| %>
  <p><%= form.label :title %><br>
  <%= form.text_field :title %></p>
  <p><%= form.label :body %><br>
  <%= form.text_area :body %></p>
  <p><%= form.submit %></p>
  <% end %>
  </div>
</div>