<div class="grid grid-cols-3">
  <div class="rounded w-full h-82 bg-gray-300 text-center">検索欄</div>
  <div class="rounded w-full col-span-2 flex justify-center">
    <% if @trainer.image.attached? %>
    <%= image_tag @trainer.image, size:'300x300', class: "rounded-full" %>
    <% else %>
    <%= image_tag ("noimage.jpg"), size: '100x100' %>
    <% end %>
  </div>
  <div></div>
  <div class="text-center col-span-2 py-4">
    <%= @trainer.name %>
  </div>
</div>

<% unless @user.id == current_user.id %>
  <% if @isRoom == true %>
    <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, value: @user.id %>
      <% end %>
      <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
    <% end %>
  <% end %>
  <% end %>
<% end %>
