<div class="py-24 content" style="height: 1380px; background-color: #dcdcdc;">
  <div class="grid grid-cols-1 gap-x-4 lg:gap-x-8 gap-y-6 sm:gap-y-8 lg:gap-y-12 p-8">
    <div class="flex flex-col sm:flex-row items-center gap-2 md:gap-4">
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 lg:gap-20 mx-auto">
        <% @rooms.each do |room| %>
        <div class="overflow-hidden flex lg:block md:block">
          <% if room.user.image.attached? %>
            <%= link_to trainer_chat_path(room.user.id) do %>
              <%= image_tag room.user.image, class: "rounded-full h-24 w-24 md:h-auto md:w-auto lg:h-auto lg:w-auto object-fit object-cover" %> <br>
            <% end %>
          <% else %>
            <%= link_to trainer_chat_path(room.user.id) do %>
              <%= image_tag ("noimage.jpg"), class: 'rounded-full h-24 w-24 md:h-auto md:w-auto lg:h-auto lg:w-auto object-fit object-cover' %>
            <% end %>
          <% end %>
            <%= room.user.name %></br>
            <%= Chat.where(room_id: @rooms.find_by(user_id: room.user.id)).order("id DESC").limit(1)[0]&.message %>
        </div>
        <% end %>
        </div>
      </div>
    </div>
    <div class="text-center text-2xl py-3">
      <%= paginate @rooms %>
    </div>
 </div>


<script src="https://unpkg.com/scrollreveal"></script>

<script>
  ScrollReveal({ reset: true, distance: "60px", duration: 1000, delay: 100 });
  ScrollReveal().reveal('.content', { delay: 100, origin: "left" });
</script>