<h1>Trainer Chat</h1>
<%= form_with model: @chat, url: trainer_chats_path do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
  <%= f.hidden_field :user_id %>
  <%= f.submit %>
<% end %>
<% @chats.each do |chat| %>
  <% if chat.is_trainer %>
    <div class="text-right">
      <%= chat.trainer.email %> / <%= chat.message %>
    </div>
  <% else %>
    <div class="text-left">
      <%= chat.user.email %> / <%= chat.message %>
    </div>
  <% end %>
<% end %>