<div id="chats" class=""　style="padding-bottom: 1094px;">
<div class="text-center"><%="#{@chat.user.name}さんとのチャット"%></div>
<% @chats.each do |chat| %>
  <% if chat.is_trainer %>
      <div class="mycomment flex justify-end mt-12">
        <p><%=chat.message%></p>
        <% if chat.trainer.image.attached? %>
          <%= image_tag chat.trainer.image, class: "h-12 w-12 rounded-full mt-2 shadow-2xl object-fit object-cover" %>
        <% else %>
          <%= image_tag ("noimage.jpg"), class: "h-12 w-12 rounded-full mt-2 shadow-2xl object-fit object-cover" %>
        <% end %>
      </div>
  <%= chat.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
  <% else %>
    <div class="fukidasi mt-12">
      <div class="faceicon">
      <% if chat.user.is_user_deleted == true %>
        <%= image_tag ("noimage.jpg"), class: "h-12 w-12 rounded-full mt-2 shadow-xl object-fit object-cover" %>
        <P>メンバーがいません</P>
      <% elsif chat.user.image.attached? %>
      　<%= image_tag chat.user.image, class: "h-12 w-12 rounded-full mt-2 shadow-xl object-fit object-cover" %>
      <% else %>
          <%= image_tag ("noimage.jpg"), class: "h-12 w-12 rounded-full mt-2 shadow-xl object-fit object-cover" %>
      <% end %>
      </div>
      <div class="chatting">
        <div class="says">
          <p><%=chat.message%></p>
        </div>
      </div>
       <div class="flex justify-start">
        <%= chat.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
      </div>
    </div>
  <% end %>
<% end %>
<div class=" text-center mt-24">
  <%= form_with model: @chat, url: trainer_chats_path(@room.id), method: :post do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
  <%= f.hidden_field :user_id %>
  <%= f.submit "送信", class: "btn btn-info btn-xs" %>
 <% end %>
</div>
</div>
