<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-6 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <%= render 'layouts/error', obj: @trainer %>
        <%= form_with model:@trainer, local:true do |f| %>
        <table class="min-w-full text-center">
          <thead>
            <tr>
              <th scope="col" class="text-sm font-medium px-6 py-4">
                Email
              </th>
              <th scope="col" class="text-sm font-medium px-6 py-4">
                Name
              </th>
               <th scope="col" class="text-sm font-medium px-6 py-4">
                Image
              </th>
              <th scope="col" class="text-sm font-medium px-6 py-4">
                Gender
              </th>
              <th scope="col" class="text-sm font-medium px-6 py-4">
                Age
              </th>
              <th scope="col" class="text-sm font-medium px-6 py-4">
                Area
              </th>
              <th scope="col" class="text-sm font-medium px-6 py-4">
                Biography
              </th>
              <th scope="col" class="text-sm font-medium px-6 py-4">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-sm font-light py-4 whitespace-nowrap">
                <%= f.text_field :email %>
              </td>
              <td class="text-sm font-light py-4 whitespace-nowrap">
                <%= f.text_field :name %>
              </td>
              <td class="text-sm font-light py-4 whitespace-nowrap">
                <%= f.file_field :image, accept: "image/*" %>
              </td>
              <td class="text-sm font-light py-4 whitespace-nowrap">
                <%= f.select :gender, options_for_select(Trainer.genders) %>
              </td>
              <td class="text-sm font-light py-4 whitespace-nowrap">
                <%= f.select :age, options_for_select(Trainer.ages) %>
              </td>
              <td class="text-sm font-light py-4 whitespace-nowrap">
                <%= f.select :activity_area, options_for_select(Trainer.activity_areas) %>
              </td>
              <td class="text-sm font-light py-4 whitespace-nowrap">
                <%= f.text_area :biography, class: 'w-full h-32 ml-6' %>
              </td>
              <td class="py-4 whitespace-nowrap">
                <%= f.submit 'Submit', class: 'px-2 py-1 text-xl text-gray-900 text-white font-semibold rounded' %>
              </td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>