<div class="relative">
<%= image_tag 'trainer.index-1966247.jpg', class: "absolute inset-0 object-cover w-full h-full"%>
<div class="relative bg-gray-900 bg-opacity-75" style="padding-bottom: 871px;">
<div class="flex justify-center my-auto py-4 pl-7">
  <%= form_tag trainers_path, method: :get do %>
    <%= select_tag :gender, options_for_select(Trainer.genders, {:selected => @gender}), include_blank: "性別", class: "mr-1" %>
    <%= select_tag :age, options_for_select(Trainer.ages, {:selected => @age}), include_blank: "年齢", class: "mr-1" %>
    <%= select_tag :activity_area, options_for_select(Trainer.activity_areas, {:selected => @activity_area}), include_blank: "エリア", class: "mr-1" %>
    <%= select_tag :teaching_history, options_for_select(Trainer.teaching_histories, {:selected => @teaching_history}), include_blank: "指導歴", class: "mr-1" %>
    <%= select_tag :strong_part, options_for_select(Trainer.strong_parts, {:selected => @strong_part}), include_blank: "部位", class: "mr-1" %>
    <%= submit_tag '検索', class: "btn btn-primary" %>
    <%= link_to 'マップ検索はこちら', map_searches_path, class: "text-gray-200 hover:text-white" %>
  <% end %>
</div>
<div class="">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <h2 class="text-white text-2xl lg:text-3xl font-bold text-center mb-8 md:mb-12"><%= @trainers.count%> Trainers</h2>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-6">
      <% @trainers.each do |trainer| %>
      <div class="group h-96 flex items-end bg-gray-100 rounded-lg overflow-hidden shadow-lg relative p-4">
        <% if trainer.image.attached? %>
          <%= link_to trainer_path(trainer.id) do %>
          <%= image_tag trainer.image, class: "w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200 rounded-lg shadow-lg" %>
          <% end %>
        <% else %>
          <%= link_to trainer_path(trainer.id) do %>
            <%= image_tag ("noimage.jpg"), class: "w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200 rounded-lg shadow-lg" %>
          <% end %>
        <% end %>
        <div class="w-full flex flex-col bg-white text-center rounded-lg relative p-4">
          <span class="text-gray-500"><%= trainer.name %></span>
          <span class="text-gray-800"><%= trainer.biography %></span>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
      <div class="text-gray-100 text-center text-2xl pb-6">
      <%= paginate @trainers %>
      </div>
</div>
</div>