<div class="items-center">
  <div class="text-6xl">トレーナーマイページ</div>

　<% if @trainer.image.attached? %>
  <%= image_tag @trainer.image, size:'200x200' %>
  <% else %>
  <%= image_tag ("noimage.jpg"), size: '100x100' %>
  <% end %>

  <p class="text-2xl pt-5">メールアドレス　<%= @trainer.email %></p>
  <p class="text-2xl pt-5">名前　<%= @trainer.name %></p>
  <p class="text-2xl pt-5">年齢　<%= @trainer.age %></p>
  <p class="text-2xl pt-5">性別　<%= @trainer.gender %></p>
  <p class="text-2xl pt-5">設定料金　<%= @trainer.rental_price %></p>
  <p class="text-2xl pt-5">エリア　<%= @trainer.activity_area %></p>
  <p class="text-2xl pt-5">紹介文　<%= @trainer.biography %></p>
  <div class="m-3">
    <button class="px-2 py-1 bg-blue-400 text-xl text-white font-semibold rounded hover:bg-blue-500">
      <%= link_to '編集', edit_trainer_path(@trainer) %>
    </button>
  </div>

</div>

<div cllass="grid grid-cols-2">
  <div></div>
  <div class="bg-purple-200 flex justify-center">
  <%= form_with(model: @post, local: true, multipart: true) do |f| %>
  <p><%= f.label :title %><br>
  <%= f.text_field :title %></p>
  <p><%= f.label :body %><br>
  <%= f.text_area :body %></p>
  <p><%= f.submit %></p>
  <% end %>
  </div>
</div>

