<div class="sm:grid-col-1 p-6">
  <!--写真col-->
  <div class="bg-gray-100">
    <% unless trainer_signed_in? %>
    <div class="py-4 px-4">
      <%= link_to "検索画面へ戻る",  trainers_path %>
    </div>
    <% end %>

    <div class="flex justify-center">
      <% if @trainer.image.attached? %>
        <%= image_tag @trainer.image, size:'200x200', class: "rounded-full mt-2 shadow-2xl" %>
      <% else %>
        <%= image_tag ("noimage.jpg"), size: '200x200', class: "rounded-full mt-2 shadow-xl" %>
      <% end %>
    </div>

      <div class="flex justify-center my-2 gap-5">
        <div>
          <% if @trainer == current_trainer %>
           <button class="btn btn-accent">
          <%= link_to 'Edit', edit_trainer_path(@trainer) %>
           </button>
          <% elsif user_signed_in? %>
           <button class="btn btn-accent">
          <%= link_to "Chat", chat_path(@trainer.id) %>
          </button>
          <% else %>
          <% end %>
      </div>

      <div>
          <% if user_signed_in? %>
          <% if current_user.following?(@trainer) %>
          <button class="btn btn-primary">
            <%= link_to "Unfollow", trainer_unfollow_path(@trainer.id), method: :delete %>
          </button>
          <% else %>
          <button class="btn btn-secondary">
            <%= link_to "Follow", trainer_follow_path(@trainer.id), method: :post %>
          </button>
          <% end %>
          <% end %>
      </div>


      <div class="flex gap-4">
          <% if user_signed_in? %>
          <% if current_user.liking?(@trainer) %>
          <button class="btn btn-circle btn \btn-error">
            <%= link_to trainer_dislike_path(@trainer.id), method: :delete do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
              </svg>
            <% end %>
          </button>
          <% else %>
          <button class="btn btn-circle btn-outline">
            <%= link_to trainer_like_path(@trainer.id), method: :post do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
              </svg>
            <% end %>
          </button>
          <% end %>
          <% end %>




          <% if user_signed_in? %>
          <% if current_user.bading?(@trainer) %>
           <button class="btn btn-circle btn \btn-error">
            <%= link_to trainer_was_bad_path(@trainer.id), method: :delete do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 14H5.236a2 2 0 01-1.789-2.894l3.5-7A2 2 0 018.736 3h4.018a2 2 0 01.485.06l3.76.94m-7 10v5a2 2 0 002 2h.096c.5 0 .905-.405.905-.904 0-.715.211-1.413.608-2.008L17 13V4m-7 10h2m5-10h2a2 2 0 012 2v6a2 2 0 01-2 2h-2.5" />
              </svg>
            <% end %>
          </button>
          <% else %>
          <button class="btn btn-circle btn-outline">
            <%= link_to trainer_make_bad_path(@trainer.id), method: :post do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 14H5.236a2 2 0 01-1.789-2.894l3.5-7A2 2 0 018.736 3h4.018a2 2 0 01.485.06l3.76.94m-7 10v5a2 2 0 002 2h.096c.5 0 .905-.405.905-.904 0-.715.211-1.413.608-2.008L17 13V4m-7 10h2m5-10h2a2 2 0 012 2v6a2 2 0 01-2 2h-2.5" />
              </svg>
            <% end %>
          </button>
          <% end %>
          <% end %>
      </div>
      </div>

    <div class="">
      <div class="text-center">
        <span class="font-bold text-2xl"><%= @trainer.name %></span><span class="text-xl">トレーナー<br></span>
      </div>
      <div class="flex text-xl py-2 justify-center">
      <%= @trainer.activity_area %>
      <%= @trainer.gender %>
      <%= @trainer.age %>
      </div>
    <table class="table-auto mx-auto bg-gray-100">
  <tbody>
    <tr>
      <td class="px-4 py-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z" clip-rule="evenodd" />
        </svg>
      </td>
      <td class="px-4 py-2">トレーニング歴</td>
      <td class="px-4 py-2"><%= @trainer.training_history %></td>
    </tr>
    <tr>
      <td class="px-4 py-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
          <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
        </svg>
      </td>
      <td class="px-4 py-2">指導歴</td>
      <td class="px-4 py-2"><%= @trainer.teaching_history %></td>
    </tr>
    <tr>
      <td class="px-4 py-2">
       <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
       <path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z" />
        </svg>
      </td>
      <td class="px-4 py-2">保有資格</td>
      <td class="px-4 py-2"><%= @trainer.qualification %></td>
    </tr>
    <tr>
      <td class="px-4 py-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
        </svg>
      </td>
      <td class="px-4 py-2">セッション料</td>
      <td class="px-4 py-2"><%= @trainer.session_fee%>￥</td>
    </tr>
    <tr>
      <td class="px-4 py-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-.464 5.535a1 1 0 10-1.415-1.414 3 3 0 01-4.242 0 1 1 0 00-1.415 1.414 5 5 0 007.072 0z" clip-rule="evenodd" />
        </svg>
      </td>
      <td class="px-4 py-2 text-red-400">BOOD</td>
      <td class="px-4 py-2"><%= @trainer.likers.count %></td>
    </tr>
    <tr>
      <td class="px-4 py-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-7.536 5.879a1 1 0 001.415 0 3 3 0 014.242 0 1 1 0 001.415-1.415 5 5 0 00-7.072 0 1 1 0 000 1.415z" clip-rule="evenodd" />
        </svg>
      </td>
      <td class="px-4 py-2 text-blue-400">BAD</td>
      <td class="px-4 py-2"><%= @trainer.baders.count %></td>
    </tr>
        <tr>
      <td class="px-4 py-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
          <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
        </svg>
      </td>
      <td class="px-4 py-2">フォロアー</td>
      <td class="px-4 py-2"><%= @trainer.followers.count %></td>
    </tr>
  </tbody>
</table>
 </div>
 <div class="text-center py-4"><span class="text-xl">紹介文</span><br>
   <div class="content-body">
    <%if @trainer.biography.length > 10 %>
    <div class="truncated">
      <p><%= @trainer.biography.truncate(10)%></p>
      <p class="see-more">&lt;もっと見る&gt;</p>
      </div>
      <div class="untruncated" style="display: none">
        <p><%= @trainer.biography %></p>
      </div>
    <%else%>
      <p><%= @trainer.biography %></p>
    <%end%>
</div>
 </div>

 </div>
      </div>


<script>
  $('.see-more').click(function(){
  $(this).closest(".content-body").find(".truncated").hide();
  $(this).closest(".content-body").find(".untruncated").show();
  })
</script>





