<header class="fixed w-full z-10">
	<nav class="relative px-4 py-4 flex justify-between items-center bg-purple-600">
		<a class="text-3xl font-bold leading-none flex" href="/">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
      <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
    </svg>
			<div class="my-auto ml-2 text-white">TRENTAL</div>
		</a>
		<div class="lg:hidden">
			<button class="navbar-burger flex items-center text-white p-3">
				<svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
				</svg>
			</button>
		</div>
		<ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:gap-5 text-sm ">
		    <% if user_signed_in? %>
				<li>
					<a>
					  <%= link_to 'トレーナーを探す', trainers_path, class: "text-md text-gray-300 hover:text-white animoBorderLeftRight" %>
					</a>
				</li>
				<li>
					<a>
					  <%= link_to '投稿', photos_path, class: "text-md text-gray-300 hover:text-white animoBorderLeftRight" %>
					</a>
				</li>
				<li>
					<a>
					  <%= link_to 'DM履歴', chats_path, class: "text-md text-gray-300 hover:text-white animoBorderLeftRight" %>
					</a>
				</li>
				<li>
					<a>
					  <%= link_to 'お気に入り', user_followings_path(current_user), class: "text-md text-gray-300 hover:text-white animoBorderLeftRight" %>
					</a>
				</li>
				<li>
					<a>
					  <%= link_to 'マイページ', user_path(current_user), class: "text-md text-gray-300 hover:text-white animoBorderLeftRight" %>
					</a>
				</li>
			<% elsif trainer_signed_in? %>
			<li>
				<a>
				  <%= link_to '投稿する', new_photo_path, class: "text-md text-gray-300 hover:text-white animoBorderLeftRight" %>
				</a>
			</li>
			<li>
				<a>
				  <%= link_to '投稿一覧', photos_path, class: "text-md text-gray-300 hover:text-white animoBorderLeftRight" %>
				</a>
			</li>
			<li>
				<a>
				  <%= link_to 'チャット履歴', trainer_chats_path, class: "text-md text-gray-300 hover:text-white animoBorderLeftRight" %>
				</a>
			</li>
			<li>
				<a>
				  <%= link_to 'エリア登録', new_map_path, class: "text-md text-gray-300 hover:text-white animoBorderLeftRight" %>
				</a>
			</li>
			<li>
				<a>
				  <%= link_to 'マイページ', trainer_path(current_trainer), class: "text-md text-gray-300 hover:text-white animoBorderLeftRight" %>
				</a>
			</li>
			<% else %>
			<li>
				<a>
				  <%= link_to 'メンバー登録', new_user_registration_path, class: "text-md text-gray-300 hover:text-white animoBorderLeftRight" %>
				</a>
			</li>
			<li>
				<a>
				  <%= link_to 'トレーナー登録', new_trainer_registration_path, class: "text-md text-gray-300 hover:text-white animoBorderLeftRight" %>
				</a>
			</li>
			<li>
				<a>
				  <%= link_to 'トレーナーを見つける', trainers_path, class: "text-md text-gray-300 hover:text-white animoBorderLeftRight" %>
				</a>
			</li>
			<li>
				<a>
				  <%= link_to 'メンバーログイン', new_user_session_path, class: "text-md text-gray-300 hover:text-white animoBorderLeftRight" %>
				</a>
			</li>
			<li>
				<a>
				  <%= link_to 'トレーナーログイン', new_trainer_session_path, class: "text-md text-gray-300 hover:text-white animoBorderLeftRight" %>
				</a>
			</li>
			<% end %>
		</ul>
	  <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "mr-5 hover:text-gray-900 hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200" %>
		<% elsif trainer_signed_in? %>
      <%= link_to "Sign out", destroy_trainer_session_path, method: :delete, class: "mr-5 hover:text-gray-900 hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200" %>
		<% else %>
		  <%= link_to "管理者", rails_admin_path, class: "mr-5 hover:text-gray-900 hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200" %>
	  <% end %>
	</nav>
	<div class="navbar-menu relative z-50 hidden">
		<div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-50"></div>
		<nav class="fixed top-0 right-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-gray-400 bg-opacity-75 border-r overflow-y-auto">
			<div class="flex items-center">
				<button class="navbar-close right-0">
					<svg class="h-6 w-6 text-gray-200 cursor-pointer hover:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
					</svg>
				</button>
			</div>
			<div>
			  <ul>
			  	<% if user_signed_in? %>
			  	  <li class="mb-10 mt-10">
			        <%= link_to 'トレーナーを探す', trainers_path, class: "font-bold text-md text-gray-200 hover:text-white animoBorderLeftRight" %>
				  	</li>
				  	<li class="mb-10">
				      <%= link_to '投稿を見る', photos_path, class: "font-bold text-md text-gray-200 hover:text-white animoBorderLeftRight" %>
				  	</li>
				  	<li class="mb-10">
				    	<%= link_to 'DM履歴', chats_path, class: "font-bold text-md text-gray-200 hover:text-white animoBorderLeftRight" %>
				  	</li>
				  	<li class="mb-10">
				      <%= link_to 'お気に入り', user_followings_path(current_user), class: "font-bold text-md text-gray-200 hover:text-white animoBorderLeftRight" %>
				  	</li>
				  	<li>
				      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "font-bold text-md text-gray-200 hover:text-white animoBorderLeftRight" %>
				  	</li>
			  	<% elsif trainer_signed_in? %>
			      <li class="mb-10 mt-10">
			        <%= link_to '投稿する', new_photo_path, class: "font-bold text-md text-gray-200 hover:text-white animoBorderLeftRight" %>
				  	</li>
				  	<li class="mb-10">
				      <%= link_to '投稿一覧', photos_path, class: "font-bold text-md text-gray-200 hover:text-white animoBorderLeftRight" %>
				  	</li>
				  	<li class="mb-10">
				      <%= link_to 'チャット履歴', trainer_chats_path, class: "font-bold text-gray-200 hover:text-white animoBorderLeftRight" %>
				  	</li>
				  	<li class="mb-10">
				      <%= link_to 'ジム登録', new_map_path, class: "font-bold text-md text-gray-200 hover:text-white animoBorderLeftRight" %>
				  	</li>
				  		<li>
				      <%= link_to 'ログアウト', destroy_trainer_session_path, method: :delete, class: "font-bold text-md text-gray-200 hover:text-white animoBorderLeftRight" %>
				  	</li>

				  <% else  %>
				 	  <li class="mb-10 mt-10">
			        <%= link_to 'トレーナーを見つける', trainers_path, class: "font-bold text-md text-gray-200 hover:text-white animoBorderLeftRight" %>
				  	</li>
				  	<li class="mb-10">
				      <%= link_to 'ユーザー登録', new_user_registration_path, class: "font-bold text-md text-gray-200 hover:text-white animoBorderLeftRight" %>
				  	</li>
				  	<li class="mb-10">
				      <%= link_to 'ユーザーログイン', new_user_session_path, class: "font-bold text-gray-200 hover:text-white animoBorderLeftRight" %>
				  	</li>
				  	<li class="mb-10">
				      <%= link_to 'トレーナー登録', new_trainer_registration_path, class: "font-bold text-md text-gray-200 hover:text-white animoBorderLeftRight" %>
				  	</li>
				  		<li class="mb-10">
				      <%= link_to 'トレーナーログイン', new_trainer_session_path, class: "font-bold text-md text-gray-200 hover:text-white animoBorderLeftRight" %>
				  	</li>
				  	<li>
				      <%= link_to '管理者', rails_admin_path, class: "font-bold text-md text-gray-200 hover:text-white animoBorderLeftRight" %>
			      </li>

			  	<% end %>
			  </ul>
			</div>
			<div class="">
				<p class="my-4 text-xs text-center text-gray-100">
					<span>Copyright © 2021</span>
				</p>
			</div>
		</nav>
	</div>
</header>


