<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Trental</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="js/Chart.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>


    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.13.6/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
  </head>

  <body class="Page">
        <div clas="HeaderSection">
          <%= render 'layouts/header' %>
        </div>
      <main class="MainSection">
        <!--<p id="notice" class="text-center bg-blue-300"><%#= notice %></p>-->
        <%= yield%>
      </main>
      <div class="FooterSection">
        <%= render 'layouts/footer' %>
      </div>
     <script>
      $(function() {
        setTimeout("$('#notice').fadeOut('slow')", 2000);
      });
    </script>
  </body>

</html>
