<section class="text-gray-600 body-font py-3" id="trainer_new">
  <div class="container mx-auto flex justify-center items-center">
    <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col w-md mt-10 md:mt-0">
    <div class="text-red-900 text-md bg-red-100 mb-2">
      <%= render "trainers/shared/error_messages", resource: resource %>
    </div>

      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">トレーナー登録</h2>
      <div class="w-full text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        <p class=" mb-1">登録すると以下の機能がご利用頂けます。</p>
        <p class=" title-font mb-1">● ユーザーとのDM</p>
        <p class=" title-font mb-1">● 活動の投稿</p>
        <p class=" title-font mb-1">● エリアの登録</p>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="relative mb-4">
        <%= f.label :Name, class: "leading-7 text-sm text-gray-600" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "email", class: "w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %>
      </div>
      <div class="relative mb-4">
        <%= f.label :Email, class: "leading-7 text-sm text-gray-600" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %><br />
      </div>
      <div class="relative mb-4">
        <%= f.label :Password, class: "leading-7 text-sm text-gray-600" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %><br />
      </div>
      <div class="relative mb-4">
        <%= f.label :Password_confirmatio, class: "leading-7 text-sm text-gray-600" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %><br />
      </div>
      <div class="relative mb-4">
        <%= f.label :プロフィール写真, class: "leading-7 text-sm text-gray-600" %><br />
        <%= f.file_field :image %>
      </div>
      <div class="relative mb-4">
        <%= f.label :性別, class: "leading-7 text-sm text-gray-600" %><br />
        <%= f.select :gender, options_for_select(Trainer.genders.keys), {include_blank: '選択してください'} %>
      </div>
      <div class="relative mb-4">
        <%= f.label :年齢, class: "leading-7 text-sm text-gray-600" %><br />
        <%= f.select :age, options_for_select(Trainer.ages.keys), {include_blank: '選択してください'} %>
      </div>
      <div class="relative mb-4">
        <%= f.label :活動エリア, class: "leading-7 text-sm text-gray-600" %><br />
        <%= f.select :activity_area, options_for_select(Trainer.activity_areas.keys), {include_blank: '選択してください'} %>
      </div>
       <div class="relative mb-4">
        <%= f.label :トレーニング経験, class: "leading-7 text-sm text-gray-600" %><br />
        <%= f.select :training_history, options_for_select(Trainer.training_histories.keys), {include_blank: '選択してください'} %>
      </div>
      <div class="relative mb-4">
        <%= f.label :指導経験, class: "leading-7 text-sm text-gray-600" %><br />
        <%= f.select :teaching_history, options_for_select(Trainer.teaching_histories.keys), {include_blank: '選択してください'} %>
      </div>
      <div class="relative mb-4">
        <%= f.label :保有資格, class: "leading-7 text-sm text-gray-600" %><br />
        <%= f.select :qualification, options_for_select(Trainer.qualifications.keys), {include_blank: '選択してください'} %>
      </div>
      <div class="relative mb-4">
        <%= f.label :セッション料金, class: "leading-7 text-sm text-gray-600" %><br />
        <%= f.select :session_fee, options_for_select(Trainer.session_fees.keys), {include_blank: '選択してください'} %>
      </div>
      <div class="relative mb-4">
        <%= f.label :得意部位, class: "leading-7 text-sm text-gray-600" %><br />
        <%= f.select :strong_part, options_for_select(Trainer.strong_parts.keys), {include_blank: '選択してください'} %>
      </div>
      <div class="relative mb-4">
        <%= f.label :紹介文, class: "leading-7 text-sm text-gray-600" %><br />
        <%= f.text_area :biography, class: "w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %>
      </div>
      <div class="relative mb-4">
        <%= f.submit "Sign up", class: "text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" %>
        <% end %>
        <div class="mt-2">既に登録済みの方</div>
        <p><%= link_to "こちら", new_trainer_session_path, class: "text-blue-900 font-bold" %> からログインしてください。</p>
      </div>

    </div>
  </div>
</section>